<!doctype html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<style>
body{
    background-image: url("/static/images/777.jpg");
    background-repeat: no-repeat;
    background-size:100%;

     
}

#move_left {
    margin-left: 3%;   
}
.about_programme1{width: 27%;

}
.programme_name1{width: 14%;}
</style>
<head>
<br>
<br>
<br>
    <title>Add a Programme</title>
 



<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">PROGRAMMES <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{url_for('vprogramme')}}" class="w3-bar-item w3-button">VIEW PROGRAMMES</a>
        <a href="{{url_for('addprogramme')}}" class="w3-bar-item w3-button">ADD PROGRAMME</a>

      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>


<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/signup" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGN UP</a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROGRAMMES</a>
</div>
</head>


<body>
    <div id="move_left">
    <div>
    <h1 class="for">Add a Programme that teaches Arabic/Hebrew:</h1>
    </div>
    <div class="for1">
    <form method="post">
        <div>
            <br>
        <input type="text" name="name" placeholder="Programme/Institute" class="programme_name1">
        </div>
        <br>
        <br>
        <br>
        <div>
        <input type="text" name="backround" placeholder="Information about the Programme/institute" class="about_programme1"> 

        </div>
        <br>
        <br>
        <!-- <div>
        <p>What kind of organization are you?</p>
        </div> -->

        <!-- <div>
        <input type="radio" Name="needer_type" value="private person">private person
        <input type="radio" Name="needer_type" value="non-profit organization">non-profit organization
        <input type="radio" Name="needer_type" value="company">company
        </div> -->

        <div>
        <p>Contact Info:</p>
        </div>

        <div>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="address" placeholder="Address">
        <br>    
        <input type="text" Name="phone_number" placeholder="Phone number">
        <input type="text" Name="link" placeholder="optional:link to website" class="contact_programme1">
        </div>
        <br>
        <br>
        

        <br>
        <div>
        <input type="submit" value="Submit" class="submit1">
        </div>
    </form>
    <br>
    
    </div>
</div>
</body>
</html>