<!DOCTYPE html>
<html lang="en">
<title>LearnOnline</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<style>
body{
font-family: "Times New Roman", Times, serif;
}
#translate-text-area {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #20B2AA;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size:50px;
}
#translate-lang{
  margin-left: 40%;
  margin-top: 2%;
  font-size: 22px;
}

#t1{
  margin-left: 73%;
  margin-bottom: 5%;
  /*width:20px;*/
}
</style>

<style>
.mySlides {display:none;}
</style>

<body>



<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">PROGRAMMES <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{url_for('vprogramme')}}" class="w3-bar-item w3-button">VIEW PROGRAMMES</a>
        <a href="{{url_for('addprogramme')}}" class="w3-bar-item w3-button">ADD PROGRAMME</a>

      </div>
    </div>
    <!-- <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a> -->
  </div>
</div>


<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/signup" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGN UP</a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROGRAMMES</a>
</div>




<h2 class="w3-center">Automatic Slideshow</h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="/static/images/img1.jpg" style="width:100%">
  <img class="mySlides" src="/static/images/img2-1.jpg" style="width:100%">
  <img class="mySlides" src="/static/images/img3-4-1.jpg" style="width:100%">
</div>



<!-- FORM I MADE -->
<!-- <div class= "form"> -->
  <form id="translate-text"> 
    <input type="text" name="text" id="translate-text-area" placeholder="Enter Text" >

    <div id="translate-lang">
    <input type="radio" name="language" value="english" id="english" checked> English &nbsp;&nbsp;
    <input type="radio" name="language" value="Hebrew" id="Hebrew"> Hebrew &nbsp; &nbsp;
    <input type="radio" name="language" value="arabic" id="arabic"> Arabic 
    </div>
    <br>

  </form>
  <div id="t1">
  <button onclick="runTranslate()">Translate</button>
</div>

<div id ="translated-content">        
</div>

</div>


  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Any recommendations?</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Jerusalem, IL <br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +975 1234<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: Sarah@Mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="{{url_for('send_email')}}" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>


<!-- Image of location/map -->
<!-- <img src="pic4.jpeg" class="w3-image w3-greyscale-min" style="width:100%"> -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://www.instagram.com/officialqueenmusic/"> <i class="fa fa-instagram w3-hover-opacity"> </i> </a>
  <a href="https://twitter.com/queenwillrock"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>



<script type="text/javascript">
  function runTranslate() {
    var text = document.getElementById("translate-text-area");
    var language;
    if (document.getElementById("english").checked == true) {
      language = "english";


    }
    else if (document.getElementById("arabic").checked == true) {
      language = "arabic";

    }
    else {
      language = "Hebrew";
    }
    // alert(language);
    

    // var loader = document.getElementById("translated-content")''
    var correct_text = text.value.split(" ").join("_");
    var full_path = "/translator_route/" + language + "/" + correct_text;
    $("#translated-content").load(full_path);

  }


</script>



</body>

