<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">PROGRAMMES <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{url_for('vprogramme')}}" class="w3-bar-item w3-button">VISIT PROGRAMMES</a>
        <a href="{{url_for('addprogramme')}}" class="w3-bar-item w3-button">ADD PROGRAMME</a>

      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>


<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/signup" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGN UP</a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROGRAMMES</a>
</div>

<style>
body{
 background-image: url("/static/images/456.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
 background-attachment: fixed;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}



.login{
  position: relative;
  left: 25%;
  width:51%;
  padding: 0;
  margin: 0;
  

 
}

    



</style>
	<body>
        <br><br><br><br><br><br><br><br><br>
		<div class="signup">
		<form method="POST">
        	<h1>LOG IN</h1>
        	<input type="text" name="username" placeholder="User Name"><br>
        	<label for="name">Insert your username</label><br><br>
        	<input type="password" name="password" placeholder="Password" maxlength="8" minlength="3"><br>
            <label for="name">Insert your password</label><br><br>
        	<input type="submit" value="Log In">
            <input type="reset" value="Reset"><br><br>
        	<br>
        </form>
    	</div>
    </body>
</html>