<!DOCTYPE html>
<html>


<style>
body{




 font-family: "Courier New", Courier, monospace;
 background-image: url("/static/images/123.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
 background-attachment: fixed;
}



.signup{
  position: relative;
  left: 25%;
  width:51%;
  padding: 0;
  margin: 0;

  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

    



</style>
	<body>
        <br><br><br><br><br><br><br><br><br>
		<div class="signup">
		<form method="POST">
        	<h1>SIGN UP</h1>
        	<input type="text" name="name" placeholder="User Name"><br>
        	<label for="name"><!-- Insert name --></label><br><br>
        	<input type="password" name="password" placeholder="Password" maxlength="8" minlength="3"><br>
            <label for="name"><!-- Insert password --></label><br><br>
        	<input type="submit" value="Sign Up">
            <input type="reset" value="Reset"><br><br>
        	<br>
        </form>
    	</div>
    </body>
</html>