<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<html>
<style>
body{
    background-image: url("/static/images/777.jpg");
    background-repeat: no-repeat;
    background-size:100%;}

#move {
    margin-left: 3%;
}

#milah{
	font-size: 80px;
}

#polis{
	font-size: 80px;
	margin-left: 4%;
}

/*#milah1{
	margin-left: 550px;
	padding-bottom: 300px;

}

#polis1{
	margin-left: 800px;
	padding-bottom: 300px;

}*/
a:hover{
	color:blue;
	/*font-weight: 1000;*/
}
</style>
<head>
	<title>Programmes</title>


	<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">PROGRAMMES <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/vprogramme" class="w3-bar-item w3-button">VIEW PROGRAMMES</a>
        <a href="/addprogramme" class="w3-bar-item w3-button">ADD PROGRAMME</a>

      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>


<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/signup" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SIGN UP</a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROGRAMMES</a>
</div>

</head>
<style>
	

</style>
<body>
<div id="move">
<br>
<br>
<br>
<div id= "milah">
MILAH
</div>
The Jerusalem Institute for Hebrew
<br>
<br>
13 King David Street
<br>
Mailing Address:
<br>
P.O. Box 2775
<br>
Jerusalem 91027
<br>
milah@milah.org
<br>
Tel: +972-2-6233164
<br>
Fax: +972-2-6249834
<br>
<br>
<a href="http://www.milah.org/"> Visit Website</a>
<!-- <div id=milah1>
<img src="/static/images/milah.png"> -->
<!-- </div> -->
<br>
<br>
<br>
<div id="polis">
POLIS
</div>

THe Jerusalem Institute of languages and humanities
<br>

<br>
Address:
8 HaAyin Het St.
<br>
9511208 Jerusalem.
<br>
info@polisjerusalem.org
Tel: +972 (0)74 7011048
<br>
Fax: +972(0)74 7021931
<br>
<br>
<a href="http://www.polisjerusalem.org/"> Visit Website</a>
<!-- <div id=polis1> -->
<!-- <img src="/static/images/polis.png"> -->
<!-- </div> -->
<br>
<br>
<br>
</div>
</body>
</html>